html, body {
	font-family: museo-sans, sans-serif;
  	-webkit-font-smoothing: antialiased;
   	text-shadow: 1px 1px 1px rgba(0,0,0,0.004); 
}

ul {
	text-align: center;
	list-style: none;
	margin: 4% 0 ;
}

li {
	display: inline;
	margin: 0 20px;
}

#intro {
	line-height: 140%;
	font-size: 150%;
	margin: 1em 0;
	color: #222;
	font-weight: 300;
}

.project {
	color: white;
	padding: 10px;
	height: 300px;
	margin-bottom: 20px;
}

.project p {
	width: 70%;
	margin: 0 auto;
}

.project:hover {
	opacity: 1;
}

