$grey: #d8d8d8;
$mentimeter-blue: rgba(0, 165, 189, 0.44);
$epfl-red: rgba(146, 0, 14, 0.55);
$ericsson-blue: rgba(2, 30, 77, 0.6);
$kivra-green: rgba(140, 198, 70, 0.8);

@mixin link($color) {
  padding: 1px 4px;
  background-color: $color;
  &:hover {
    background-color: lighten($color, 10%);
  }
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  line-height: 1.5;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 10%; 
  width: 100vw;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  border-bottom: solid 5px;
  font-weight: 700;
}

.fa {
  float: right;
  margin-left: 10px;
  font-size: 1.2em;
  &:hover {
    color: darken($grey, 50%);
  }
}

#mentimeter {
  @include link($mentimeter-blue)
}

#epfl {
  @include link($epfl-red)
}

#ericsson {
  @include link($ericsson-blue)
}

#kivra {
  @include link($kivra-green)
}

#wrapper {
  background-image: url("assets/bc.jpg");
  background-position: center;
  box-sizing: border-box;
  margin: 0 auto;
  width: 50vw;
  padding: 50px;
  border: 8px solid black;
}

@media (min-width: 750px) and (max-width: 1080px) {
  #wrapper {
    width: 80vw;
  }
}

@media (max-width: 750px) {

  h1 {
    font-size: 1.7em;
  }
  #wrapper {
    width: 100vw;
    background-image: none;
    border: none;
    padding: 40px;
  }
}

