.project {
	color: white;
	padding: 1%;
	height: 350px;
	margin-bottom: 20px;
	background-position: center;
	-webkit-filter: grayscale(1);
	filter: grayscale(1); 

	a {
		color: white;
		border-bottom: none;
	}

	p {
		opacity: 0;
		width: 70%;
		margin: 0 auto;
	}

	h2 {
		width: 50%;
		margin: 25% auto 2% auto;
		.transitions;
	}

	a {
		&:hover {
			color:white;
		}
	}

	i, p {
		opacity: 0;
	}

	&:hover{ 

		-webkit-filter: grayscale(0);
		filter: grayscale(0); 
		.transitions;

		h2, p, i {
			opacity: 1;	
			.transitions;
		}

		h2 {
			margin-top: 15%;
			.transitions;
		}
	}
}

@media (max-width: @screen-sm-max) {
	.row {
		margin-left: 0;
	}
	
	.project {
		-webkit-filter: grayscale(0);
		filter: grayscale(0); 

		height: 600px;

		p {
			font-size: 2.5em;
		}

		h2 {
			margin: 5% auto ;
			font-size: 3em;
		}

		h2, p, i {
			opacity: 1;	
		}
	}
}






